@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    font-family: 'Lilita One',
            sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.nav_logo {
    height: 5rem;
}

.navbar-light {
    background-color: #ffffff !important;
}

.navbar-brand{
    font-family: 'Lilita One',
    sans-serif;
    font-size: 3rem;

}

.nav_cart{
    height: 2.5rem;
    margin-left: 1rem;
    transition-duration: 200ms;
}
.nav_cart:hover{
    transition-duration: 200ms;
    transform: scale(1.2);
}