{% extends "includes/core.html" %}
{% load static %}
{% block page_title %}Your Current Order {% endblock %}
{% block content %}
<div class="center_screen">
<h1 class="text-center p-2">
     Items in this Cart - Order No. (# {{ order.id }})
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center fade-in-group">
     <table class="table">
  <tr>
    <th>Thumbnail</th>
    <th>Title</th>
    <th>Price</th>
    <th>Manage</th>
  </tr>
  {% for item in items %}
  <tr>
    <td><img src="{{ item.item.preview_image.url }}" class="cart-image" alt="Artwork preview"></td>
    <td>{{ item.item.title }}</td>
    <td>€ {{ item.item.price|floatformat:2 }}</td>
    <td> <a href="{% url 'delete_cart_item' item.id %}" class="btn btn-danger"> Remove Item </a></td> 
  </tr>
{% endfor %}
</table>
<div class="container d-flex flex-row align-items-center justify-content-center fade-in-group">
  <p> Total Order Price : € {{ total_price|floatformat:2 }} </p>
  <p><a href="{% url 'process_payment' %}" class="btn btn-success m-3"> Complete Order </a></p>
</div>
</div>
{% endblock %}