{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="nav_logo" src="{% static 'images/logo.webp'%}">
    <a class="navbar-brand" href="#">EMERALD EYE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop' %}">Shop</a>
        </li>

        <!-- Account menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if not request.user.is_authenticated %}
            <li><a class="dropdown-item" href="/accounts/signup/">Register</a></li>
            <li><a class="dropdown-item" href="/accounts/login/">Sign In</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="/accounts/logout/">Sign Out ( {{ user }} )</a></li>
            {% endif %}
          </ul>
        </li>

        <!-- Site admin menu only shown to authenticated users who are flagged as staff -->

        {% if request.user.is_authenticated and request.user.is_staff%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Staff Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_art' %}">Add Art</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">View Sales</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Site Admin Panel</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" role="search" method="GET" action="{% url 'shop_search' %}">
                    <input class="form-control me-2" name="q" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
      <a href="{% url 'cart' %}"target="_self" rel="noopener" aria-label="Link - Opens list of art selected for purchase"><img class="nav_cart" src="{% static 'images/image_cart.webp'%}" ></a>
    </div>
  </div>
</nav>
</header>