{% extends "includes/core.html" %}
{% load static %}
{% block page_title %} Examing {% endblock %}
{% block content %}
<div class="center_screen fade-in container ">

    <div class="art_page_view m-3 p-3 border_shadow">
            <div class="center_screen p-3"> 
                <img class="art_preview_image" src="{{ art.preview_image.url }}" alt="Preview image of art">
            </div>
            <div class="m-3">
                <h1>{{ art.title }}</h1>
                <h2>By {{ art.artist_name }}</h2>
                <h2>€{{art.price|floatformat:2}}</h2>
                <p>
            {{ art.description }}
                </p>
                {% if request.user.is_authenticated %}
                <a href="javascript:history.go(-1)" class="btn btn-primary m-1">Return</a>
        <form class="form-check-inline" action="{% url 'add_art_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ art.id }}">
            <button type="submit" class="btn btn-primary m-1">Purchase</button>
        </form>
        {% endif %}
        {% if not request.user.is_authenticated%}
        <a href="" class="btn btn-primary m-1">Register To Purchase</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'art_edit' art.id %}" class="btn btn-warning m-1">Edit</a>
        <a href="{% url 'art_delete' art.id %}" class="btn btn-danger m-1">** Delete Artwork **</a>
        {% endif %}
            </div>
        </div>
    </div> 
</div>  
{% endblock %}