{% extends 'includes/core.html' %}
{% block page_title %} Remove Item {% endblock %}

{% block content %}

<div class="center_screen">
  <div class="text-center border_shadow m-4 p-4 fade-in">
    <h1 class="text-center mt-2">Removing Items from Cart</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="POST" class="text-center">
            {% csrf_token %}
            <p>
                You sure you want to remove this artwork from your cart?</p>
            </p>
            <input type="submit" value="Confirm" class="btn btn-danger">
            <a href="javascript:history.go(-1)"  class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}